.btn {
  background: #63aef2;
  border: none;
  padding: 14px 36px;
  border-radius: 8px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #4f9adf;
  }
}
