.advantages-section {
  position: relative;
  width: 100%;
  min-height: 800px;
  overflow: hidden;
}


.bg-rain,
.bg-steam {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}


.bg-rain {
  background-image: url('/assets/advantages/snow rain.png');
  background-repeat: repeat;
  background-position: unset;
  mix-blend-mode: screen;
  background-color: var(--main-light);
  z-index: 1;
}


.bg-steam {
  background-image: url('/assets/advantages/steam.png');
  background-size: cover;
  background-position: center;
  opacity: 0.35; 
  z-index: 2;
  mix-blend-mode: screen; 
  pointer-events: none;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(360deg, #7ec3ea 10.67%, #ffffff 100%);
  background-repeat: no-repeat;
  background-position: center top;
  mix-blend-mode: screen;
  z-index: 3;
}


.content {
  position: relative;
  z-index: 4;
  height: 100%;
  padding: 80px 60px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.titles {
  margin-bottom: 60px;
  position: relative;
}

.small-title {
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #005799;
}

.big-title {
  position: absolute;
  left: 50%;
  top: -0.15vh;
  font-style: italic;
  font-weight: bold;
  font-size: 170px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  transform: translateX(-50%);
  user-select: none;
}


.bar {
  display: flex;
  gap: 32px;
  margin-bottom: 60px;
}



.bottom button {
  background: #63aef2;
  border: none;
  padding: 14px 36px;
  border-radius: 8px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.bottom button:hover {
  background: #4f9adf;
}
