<section class="hero">

    <img src="/assets/header/palm2.png" class="palm palm-back" />
    <img src="/assets/header/palm1.png" class="palm palm-front" />
    <img src="/assets/header/penguin.png" class="penguins" />


    <div class="hero-content">
        <h1>FREON TEST</h1>
        <h2>BEST FRION</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
            Etiam euismod varius euismod. Lorem ipsum dolor sit ametv
        </p>

        <button class="hero-btn">СДЕЛАТЬ ЗАКАЗ</button>
    </div>

  
    <div class="hero-product">
        <div class="circle">
            <div class="circle-snow"></div>
        </div>

        <img src="/assets/header/ballon.png" class="balloon" />
        <div class="steam"></div>
    </div>

  
    <img src="/assets/header/snow_back.png" class="snow back" />
    <img src="/assets/header/snow_front.png" class="snow front" />
</section>