.reviews-section {
  padding: 60px 20px;
  text-align: center;
  color: var(--main-light);

  .reviews-title {
    font-style: italic;
    font-weight: bold;
    font-size: 1.875vw;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-dark);
    margin-bottom: 60px;
  }

  .reviews-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
.fix {
  max-width: 240px;
  display: flex;
  align-self: center;
}
