<section class="assortiment">
    <h2 class="title">ASSORTIMENT</h2>

    <div class="bar">
        @for (product of productService.products(); track product.id) {
            <div class="card">
                <div class="image-wrap">
                    <img [src]="product.image" alt="" />
                </div>

                <h3>{{ product.name }}</h3>

                <p class="price">
                    Price: <span>{{ product.price }}</span> грн
                </p>

                <button (click)="productService.increment(product.code)">
                    BUY
                </button>
            </div>
        }
    </div>
</section>