.assortiment {
  width: 100%;
  padding: 80px 40px 120px;
  text-align: center;
}
.title {
  color: var(--main-light);
  font-size: 36px;
  letter-spacing: 2px;
  margin-bottom: 60px;
}

.bar {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.card {
  width: 260px;
  min-height: 520px;
  border-radius: 12px;
  padding: 24px 20px 32px;
  position: relative;
  box-shadow: var(--light-shadow);
  transition: 0.25s ease box-shadow;

  &:hover {
    box-shadow: var(--dark-shadow);
  }
}

.image-wrap {
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.image-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  filter: drop-shadow(0 10px 25px rgba(255, 255, 255, 0.7));
}

.card h3 {
  color: var(--main-light);
  font-size: 20px;
  margin-bottom: 16px;
}

.price {
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 7.2%;
  font-size: 1.1vw;
  line-height: 1.29;
}

.price span {
  color: var(--main-light);
  font-size: 22px;
  font-weight: 600;
}
