.card {
  padding: 32px 20px;
  text-align: center;
  backdrop-filter: blur(6px);
  transition: 0.25s ease;
  width: 264px;
  height: 416px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px 15px;
  transition: box-shadow 0.5s ease;
  box-shadow: var(--light-shadow);

  &:hover {
    box-shadow: var(--dark-shadow);
  }

  img {
    width: 90px;
    margin-bottom: 24px;
  }

  h3 {
    color: #8ec6ff;
    margin-bottom: 16px;
    font-size: 20px;
  }

  p {
    color: #8a8a8a;
    font-size: 14px;
    line-height: 1.6;
  }
}
