@use "./app/styles/btn";

:root {
  --main-light: #6cc0f2;
  --main-av: #4499d9;
  --main-dark: #005799;
  --green: #0dc152;
  --gray: #6f6f6f;
  --btn-trans: 0.3s;
  --light-shadow: 0px 0px 0.852vh rgba(68, 153, 217, 0.3);
  --dark-shadow: 0px 0px 0.852vh rgba(68, 153, 217, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
app-root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.65);
  z-index: 100;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  background: #a9cdf1;
  border-radius: 16px;
  padding: 24px;
  z-index: 101;
  color: #9ecbff;
}

.modal h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input {
  min-width: 40px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  box-shadow: inset var(--light-shadow);
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--gray);
  padding: 6px 0;
}

.modal input,
.modal textarea {
  width: 100%;
  background: #92bce7;
  // border: 1px solid #1f2a36;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 14px;
}

.modal button {
  background: #55a7e0;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
}

* {
  font-family: "Roboto", sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
