.review-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  border-radius: 16px;
  padding: 20px;

  width: 100%;
  width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 12px rgba(0, 156, 255, 0.2);

  .avatar {
    position: relative;
    width: 110px;
    height: 110px;
    min-width: 110px;

    display: flex;
    align-items: center;
    justify-content: center;

    .avatar-photo {
      width: 105px;
      height: 105px;
      border-radius: 50%;
      object-fit: cover;
      z-index: 1;
    }

    .avatar-frame {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  .review-text {
    text-align: left;
    flex-grow: 1;

    .review-name {
      font-weight: bold;
      font-size: 1.25vw;
      line-height: 1.29;
      color: var(--main-dark);
    }

    .review-content {
      font-weight: 300;
      font-size: 0.9375vw;
      line-height: 1.5;
      color: var(--gray);
      .review-content {
        white-space: normal !important;
        word-break: break-word;
      }
    }
  }
}
