.main-section {
  position: relative;
  height: calc(100vh - var(--header-height));
  min-height: 700px;
  color: #9fd6ff;
  display: flex;
  padding: 0 10vw;
  justify-content: space-between;

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: 525px;
    margin: 120px auto auto 200px;

    h1 {
      font-size: 52px;
      font-weight: 700;
      color: #7fc8ff;
    }

    h2 {
      font-size: 48px;
      font-weight: 300;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
      opacity: 0.7;
      line-height: 1.6;
      margin-bottom: 30px;
    }
  }
}

.product {
  position: absolute;
  bottom: 50px;
  right: 200px;
  width: 700px;
  height: 700px;
}

.circle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(360deg, #7ec3ea 10.67%, #eaf8ff 100%);

  &-snow {
    background: url("/assets/header/snow_rain.png") repeat;
    opacity: 0.5;
    animation: snowInCircle 10s linear infinite;
  }
}

.snow-rain {
  position: absolute;
  inset: 0;
  background: url("/assets/header/snow_rain.png") repeat;
  opacity: 0.5;
  animation: snow 12s linear infinite;
  z-index: 1;
}

@keyframes snow {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 800px;
  }
}

.palm {
  position: absolute;
  bottom: 40px;
  transform-origin: bottom center;
  animation: palmSwing 6s ease-in-out infinite;
}

.palm-back {
  left: 120px;
  width: 200px;
  opacity: 0.4;
  animation-duration: 8s;
  z-index: 1;
}

.palm-front {
  left: 40px;
  width: 320px;
  z-index: 2;
}

@keyframes palmSwing {
  0%,
  100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

.penguins {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 57.916vw;
  height: 20.06vw;
}

@keyframes snowInCircle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -550px 700px;
  }
}

.balloon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  z-index: 3;
}

.steam {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 120px;
  height: 120px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.25), transparent);
  filter: blur(20px);
  transform: translateX(-50%);
  animation: steamUp 4s ease-in-out infinite;
  z-index: 4;
}

@keyframes steamUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -40px);
  }
}

.snow {
  position: absolute;
  bottom: 0;
  width: 100%;

  &.back {
    z-index: 3;
    right: 0;
    bottom: 0;
    width: 66.979vw;
    height: 11.2vw;
  }

  &.front {
    z-index: 4;
    right: 0;
    bottom: 0;
    width: 66.979vw;
    height: 7.14vw;
  }
}
