.main-section {
  position: relative;
  height: calc(100vh - var(--header-height));
  min-height: 700px;
  color: var(--main-light);
  display: flex;
  padding: 0 10vw;
  justify-content: space-between;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(234, 248, 255, 0) 0%, var(--main-light) 100%);
    pointer-events: none;
    z-index: 10;
  }
  .content {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 120px auto auto 310px;

    .buttonfix {
      width: 180px;
      position: absolute;
      right: 80px;
      bottom: -108px;
    }

    h1 {
      font-size: 5vw;
      font-weight: bold;
      font-style: italic;
      line-height: 1.02;
      color: var(--main-light);
      text-transform: uppercase;
      width: 450px;
    }

    h2 {
      font-size: 5vw;
      font-style: italic;
      line-height: 1.02;
      text-transform: uppercase;
      font-weight: 300;
      color: var(--main-dark);
    }

    p {
      font-weight: 300;
      font-size: 0.9375vw;
      line-height: 1.5;
      color: var(--gray);
    }
  }
}

.product {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 620px;
  height: 620px;
  z-index: 1;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.circle {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: linear-gradient(180deg, #eaf8ff 0%, #7ec3ea 100%);
  overflow: hidden;
  z-index: 1;

  &-snow {
    position: absolute;
    inset: 0;
    background: url("/assets/header/snow_rain.png") repeat;
    opacity: 0.4;
    animation: snowInCircle 12s linear infinite;
  }
}

@keyframes snowInCircle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -550px 700px;
  }
}

.balloon {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  z-index: 3;
}

.steam {
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 360px;
  height: 360px;
  transform: translateX(-50%);
  z-index: 5;
}

.steam:before,
.steam:after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assets/cigarette-smoke.png");
}

.steam:before {
  animation: headerSmoke 4s infinite -2s linear;
}
.steam:after {
  animation: headerSmoke 4s infinite 0s linear;
}

@keyframes headerSmoke {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  20% {
    opacity: 1;
    transform: translate3d(-2%, -20%, 0) scale(1.1);
  }
  100% {
    transform: translate3d(-10%, -100%, 0) scale(1.5);
    opacity: 0;
  }
}

.palm {
  position: absolute;
  bottom: 40px;
  transform-origin: bottom center;
  animation: palmSwing 6s ease-in-out infinite;
}

.palm-back {
  left: 228px;
  width: 200px;
  opacity: 0.4;
  animation-duration: 8s;
  z-index: 1;
}

.palm-front {
  left: 40px;
  width: 420px;
  height: 600px;
  z-index: 2;
}

@keyframes palmSwing {
  0%,
  100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

.penguins {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 57.916vw;
  height: 20.06vw;
}

.snow {
  position: absolute;
  bottom: 0;
  width: 100%;

  &.back {
    z-index: 4;
    right: 0;
    width: 66.979vw;
    height: 11.2vw;
  }

  &.front {
    z-index: 6;
    right: 0;
    width: 66.979vw;
    height: 7.14vw;
  }
}
