.modal-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.back-btn {
  position: absolute;
  left: 0;
  top: 0;

  width: 40px;
  height: 40px;

  border: none;
  background: none;
  color: #6fb6ff;
  font-size: 24px;
  cursor: pointer;

  transition: 0.2s;
}

.back-btn:hover {
  transform: translateX(-3px);
  color: #9fd0ff;
}
